/* ---- Small devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {}

/* ---- Medium devices (tablets, 768px and up)--- */
@media (min-width: 768px) {}

/* ---- Large devices (desktops, 992px and up)--- */
@media (min-width: 992px) {}

/* ---- Extra large devices (large desktops, 1200px and up)--- */
@media (min-width: 1200px) {}

/* @font-face {
    font-family: AvenirRoman;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Roman.otf") format("opentype");
} */

@font-face {
    font-family: AvenirLTStd-Roman;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: FuturaStd-Heavy;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Heavy.otf") format("opentype");
}

/* header */
.coming-soon {
    top: 63px;
    left: 130px;
    width: 315px;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 7px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
    font-family: FuturaStd-Heavy
}

.coming-soon .featured-title {
    font-family: FuturaStd-Heavy
}

.main-body-section {
    top: 95px;
    left: 110px;
    width: 1060px;
    height: 270px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.coming-header {
    top: 115px;
    left: 150px;
    opacity: 1;
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
    font-weight: normal;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.help-center {
    top: 115px;
    left: 150px;
    font-weight: normal;
    margin-bottom: 22px;
    height: 36px;
    font-family: AvenirLTStd-Roman;
    opacity: 1;
}

.link-section {
    margin-bottom: 10px;
}

.pst-group-item {
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
}

.gotopage {
    top: 202px;
    left: 150px;
    width: 203px;
    height: 17px;
    line-height: 1px;
    text-align: left;
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
    color: #337AB7;
    letter-spacing: 0px;
    opacity: 1;
}

.help-contact {
    top: 268px;
    left: 150px;
    text-align: left;
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
    font-weight: normal;
    letter-spacing: 0px;
    opacity: 1;
}