/* ---- Small devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {}

/* ---- Medium devices (tablets, 768px and up)--- */
@media (min-width: 768px) {}

/* ---- Large devices (desktops, 992px and up)--- */
@media (min-width: 992px) {}

/* ---- Extra large devices (large desktops, 1200px and up)--- */
@media (min-width: 1200px) {}

@font-face {
    font-family: AvenirLTStd-Black;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Roman;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: FuturaStd-Heavy;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Heavy.otf") format("opentype");
}

/* -------- queue accordion --------- */

.accordion-question .accordion .card {
    width: 730px;
    /* height: 46px; */
    background: transparent;
    opacity: 1;
}

.card-body {
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
}

.accordion .topcard {
    border-top: transparent;
}

.accordion-question .accordion .card .card-header {
    background: transparent;
    border-bottom-color: #EDEFF0;
    border-top-color: transparent;
    margin-top: -9px;
    height: 46px;
    border: none;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 1px;
    color: #337AB7;
}

.accordion-question .accordion .card .card-body {
    padding: 0.75rem 2.5rem;
    color: #4A4A4A;
}

.accordion-question .accordion .card .collapsed {
    text-align: left;
    font-size: 14px;
    font-family: AvenirLTStd-Black;
    letter-spacing: 0px;
    color: #337AB7;
    opacity: 1;
}

.linked-text {
    color: #007bff;
}

.linked-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.accordion-question .mb-0 .btn {
    width: 100%;
}

.btn-label {
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
}

.accordion-question .fa-stack {
    font-size: 14px;
    float: right;
    width: 0px;
    color: #4A4A4A;
    margin-top: -6px;
    margin-right: -5px;
}

.accordion-question .card,
.card:last-child .card-header {
    border-right: none;
    border-left: none;
}

.accordion-question .first-accordion {
    border-top: none;
}

.sidebar-title {
    padding-left: 0px;
    cursor: pointer;
}

.sidebar-title:hover {
    text-decoration: underline;
}

/* --------------      project-body     ------------ */

.project-body {
    top: 130px;
    left: 110px;
    width: 1060px;
    height: auto;
    margin-top: 113px;
    padding-bottom: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-title {
    top: 130px;
    left: 400px;
    /* width: 150px; */
    height: 25px;
    text-align: left;
    font-size: 20px;
    font-family: FuturaStd-Heavy;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

.project-main-row {
    top: 130px;
    left: 400px;
    width: 741px;
    /* padding-top: 20px; */
    /* height: 74px; */
    opacity: 1;
}

.sub-title {
    top: 167px;
    left: 400px;
    width: 741px;
    height: 37px;
    text-align: left;
    font-size: 14px;
    font-family: AvenirLTStd-Black;
    letter-spacing: 0px;
    color: #4A4A4A;
    opacity: 1;
}

.sub-heading {
    top: 224px;
    left: 420px;
    width: 218px;
    height: 19px;
    text-align: left;
    font-size: 16px;
    font-family: AvenirLTStd-Black;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
    scroll-margin-top: 7rem;
}

.project-sub-title {
    top: 167px;
    left: 400px;
    width: 741px;
    height: 37px;
    text-align: left;
    font-size: 14px;
    font-family: AvenirLTStd-Roman;
    letter-spacing: 0px;
    color: #4A4A4A;
    opacity: 1;
}

.link-color {
    color: #337AB7;
}