/* ---- Small devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {}

/* ---- Medium devices (tablets, 768px and up)--- */
@media (min-width: 768px) {}

/* ---- Large devices (desktops, 992px and up)--- */
@media (min-width: 992px) {}

/* ---- Extra large devices (large desktops, 1200px and up)--- */
@media (min-width: 1200px) {}

@font-face {
    font-family: Avenir;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: FuturaStd-Book;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
    font-family: FuturaFont;
    src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Heavy.otf") format("opentype");
}

/* -------- tutorial accordion --------- */
.htj-row-three .accordion .card .card-header {
    background: transparent;
    border-bottom-color: #EDEFF0;
    border-top-color: transparent;
    margin-top: -9px;
    height: 46px;
    border: none;
}

.htj-row-three .accordion .card .card-body {
    padding: 0.75rem 2.5rem;
    color: #4A4A4A;
}

.htj-row-three .accordion .card {
    width: 730px;
    border-left-color: #4A4A4A;
    opacity: 1;
}

.htj-row-three {
    padding-left: 20px;
    width: 741px;
    opacity: 1;
}

.htj-row-three #join-column #htj-heading-two {
    margin-top: 50px;
    width: 430px;
    text-align: left;
    font-family: Avenir;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

.htj-row-three .card,
.myaccordion .card:last-child .card-header {
    border-right: none;
    border-left: none;
}

.htj-row-three .accordion .card .collapsed {
    text-align: left;
    font-size: 14px;
    font: Avenir;
    letter-spacing: 0px;
    color: #337AB7;
    opacity: 1;
}

.htj-row-three .mb-0 .btn {
    width: 100%;
}

.htj-row-three .btn-label {
    font-size: 14px;
    float: left;
    font-family: AvenirLTStd-Roman;
}

.htj-row-three .fa-stack {
    font-size: 14px;
    float: right;
    width: 0px;
    color: #4A4A4A;
}

.sidebar-title {
    padding-left: 0px;
}

.htj-row-three .htj-heading-two {
    width: 741px;
    height: 37px;
    text-align: left;
    font-size: 14px;
    font: Avenir;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

.sidebar #accordion .card .card-body .nav {
    /* left: 150px; */
    /* top: 208px; */
    color: #4A4A4A;
}

.sidebar #accordion .card .side-menu {
    padding-left: 0px;
    height: 40px;
}

.sidebar #accordion .card .side-menu-link {
    top: 208px;
    left: 150px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-size: 16px;
    font-family: FuturaStd-Book;
    letter-spacing: 0px;
    color: #67669D;
    text-decoration: none;
    opacity: 1;
}

.sidebar .nav-link:hover {
    color: #67669D;
    text-decoration: none;
}

.card-body .mt-3 {
    font-size: 14px;
    font: Avenir;
}

.card-body .mt-0 {
    font-size: 14px;
    font: Avenir;
}

.card-body li {
    font-size: 14px;
    font: Avenir;
}

.card-body b {
    font-size: 14px;
    font: Avenir;
}

.card-body ul li {
    font-size: 14px;
    font: Avenir;
}

.card-body {
    font-size: 14px;
    font: Avenir;
}