/* ---- Small devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {

}

/* ---- Medium devices (tablets, 768px and up)--- */
@media (min-width: 768px) {
    
}

/* ---- Large devices (desktops, 992px and up)--- */
@media (min-width: 992px) { 

}

/* ---- Extra large devices (large desktops, 1200px and up)--- */
@media (min-width: 1200px) { 

}



@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: FuturaStd-Heavy;
  src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Heavy.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: AvenirLTStd-Roman;
  background: #F7F7F7 0% 0% no-repeat padding-box;
}


/*--- navigation bar ---*/
.page-header {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 50px;
  font-family: AvenirLTStd-Roman;
  background: transparent linear-gradient(271deg, #76CCDB 0%, #1E96C7 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
 .mainnav {
  background: transparent linear-gradient(271deg, #76CCDB 0%, #1E96C7 100%) 0% 0% no-repeat padding-box;
  height: 50px;
}

.nav-link,
.navbar-brand {
  /* color: #fff;
  cursor: pointer; */
}

.nav-link {
  top: 20px;
  text-align: left;
  font-family: 55 Roman 12px/14px AvenirLTStd-Roman;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.logtext {
  top: 15px;
  left: 160px;
  width: 126px;
  height: 16px;
  text-align: left;
  font-family: Heavy 16px/20px Futura Std;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.navbtn {
text-align: left;
font-family: 85 Heavy 16px/20px AvenirLTStd-Roman;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#mainlogo {
  top: 7px;
  left: 123px;
  width: 37px;
  height: 37px;
/* background: transparent url('img/Logo-Fist.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}

.index-title {
  top: 63px;
  left: 130px;
  width: 415px;
  height: 25px;
  text-align: left;
  font-size: 20px;
  font-family: FuturaStd-Heavy;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}

.mainrow {
  top: 95px;
  left: 110px;
  width: 1060px;
  height: 450px;
  margin-top: 7px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.firstparagraph {
  top: 115px;
  left: 150px;
  width: 1000px;
  height: 38px;
  font-size: 14px;
  font-family: AvenirLTStd-Roman;
  opacity: 1;
}

.index-col {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;

  /* top: 115px;
  left: 150px; */
  width: 1000px;
  /* height: 190px; */
  opacity: 1;
}

.gotopage {
  color: #337AB7;
}

.searchform {
  color: #FFFFFF;
  left: 917px;
  width: 50px;
  height: 50px;
  opacity: 0.49;
}

.help-center {
  font-family: AvenirLTStd-Roman;
}

.fa-search {
  color: #FFFFFF;
  font-size: 1px;
  margin-right: 10px;
}

.firstpara {
  font-size: 14px;
  font-family: AvenirLTStd-Roman;
  padding-left: 40px;
  padding-right: 20px;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}