/* @font-face {
    font-family: Avenir;
    src: url(assets/fonts/FontsFree-Net-AvenirLTStd-Book.ttf);
} */
@font-face {
    font-family: FuturaFont;
    /* src: url(assets/fonts/FuturaFont/FuturaStd\ Heavy.otf); */
    src: url(assets/fonts/FuturaFont/FuturaStd_Heavy.otf);
}


/*------------    navigation bar    ----------*/
.page-header {
    top: 0px;
    left: 0px;
    /* width: 1280px; */
    height: 50px;
    font-family: FuturaFont;
    background: transparent linear-gradient(271deg, #76CCDB 0%, #1E96C7 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#nav-container {
    height: 48px;
    opacity: 1;
    /* width: 1060px; */
}

#navbar-brand {
    top: 0px;
    left: 123px;
    width: 163px;
    height: 48px;
    opacity: 1;
}

.logo-name {
    top: 15px;
    left: 160px;
    width: 126px;
    /* height: 16px; */
    vertical-align:middle;
    text-align: left;
    font-size: 16px;
    font: FuturaFont;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.nav-item {
    /* width: 75px; */
    /* height: 48px; */
    /* margin-left: 16px; */
    min-width: 90px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
}

.nav-link {
    top: 20px;
    left: 293px;
    width: 105px;
    /* height: 14px; */
    text-align: left;
    font-size: 12px;
    font: FuturaFont;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#nav-tab {
    top: 19px;
    left: 388px;
    width: 37px;
    /* height: 16px; */
    font-size: 12px;
    font: FuturaFont;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#nav-tab-three {
    top: 19px;
    left: 456px;
    width: 43px;
    height: 16px;
    text-align: left;
    font-size: 12px;
    font: FuturaFont;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.navbtn {
/* top: 16px;
    left: 983px;
  width: 129px; */
    height: 48px;
    text-align: left;
    margin-right: 70px;
    font-size: 16px;
    font: Futura;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.navbtn:hover {
    color: #FFFFFF;
  }

#mainlogo {
    top: 7px;
    left: 123px;
    width: 37px;
    height: 37px;
  /* background: transparent url('img/Logo-Fist.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.maintitle {
    top: 63px;
    left: 130px;
    width: 115px;
    height: 25px;
    text-align: left;
    font: FuturaFont;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

.form-inline {
    top: 0px;
    left: 917px;
    width: 50px;
    height: 50px;
    opacity: 0.49;
}

.fa-search {
    color: #FFFFFF;
}

#searchlogo {
    align-content: center;
}