/* ---- Small devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {

}

/* ---- Medium devices (tablets, 768px and up)--- */
@media (min-width: 768px) {
    
}

/* ---- Large devices (desktops, 992px and up)--- */
@media (min-width: 992px) { 

}

/* ---- Extra large devices (large desktops, 1200px and up)--- */
@media (min-width: 1200px) { 

}

@font-face {
  font-family: Avenir;
  src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: FuturaFont;
  src: url("https://s3-ap-southeast-1.amazonaws.com/supahands-fonts/FuturaStd-Heavy.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: Avenir;
  background: #F7F7F7 0% 0% no-repeat padding-box;
}

/* -----------------      menu bar section      -------------*/
#menunav {
  top: 60px;
  left: 110px;
  width: 1060px;
  height: 50px;
  margin-top: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #898CB84D;
  border-radius: 10px 10px 0px 0px;
  opacity: 1;
}

.help-center {
  font: Avenir;
}

#projectlink-one {
top: 81px;
left: 136px;
width: 69px;
height: 14px;
text-align: left;
font-size: 12px;
font: Avenir;
letter-spacing: 1.2px;
color: #67669D;
text-transform: uppercase;
opacity: 1;
}

#projectlink-two {
  top: 81px;
  left: 254px;
  width: 72px;
  height: 14px;
  text-align: left;
  font-size: 12px;
  font: Avenir;
  letter-spacing: 1.2px;
  color: #888888;
  text-transform: uppercase;
  opacity: 1;
}

#project-tab-one {
  top: 81px;
  left: 110px;
  width: 120px;
  height: 28px;
  opacity: 1;
}

#project-tab-two {
  top: 81px;
  left: 230px;
  width: 120px;
  height: 28px;
  opacity: 1;
}

#projectlink-two {
  top: 81px;
  left: 254px;
  width: 72px;
  height: 14px;
  text-align: left;
  font-size: 12px;
  font: Avenir;
  letter-spacing: 1.2px;
  color: #888888;
  text-transform: uppercase;
  opacity: 1;
}

#project-tab-three {
  top: 81px;
  left: 350px;
  width: 120px;
  height: 28px;
  opacity: 1;
}

#projectlink-three {
  top: 81px;
  left: 254px;
  width: 72px;
  height: 14px;
  text-align: left;
  font-size: 12px;
  font: Avenir;
  letter-spacing: 1.2px;
  color: #888888;
  text-transform: uppercase;
  opacity: 1;
}

#project-tab-four {
  top: 81px;
  left: 470px;
  width: 120px;
  height: 28px;
  opacity: 1;
}

#projectlink-four {
top: 81px;
left: 500px;
width: 61px;
height: 14px;
text-align: left;
font-size: 12px;
font: Avenir;
letter-spacing: 1.2px;
color: #888888;
text-transform: uppercase;
opacity: 1;
}
/* --------------       end      ------------ */
/* --------------      project-body     ------------ */

#project-body {
  top: 130px;
  left: 110px;
  width: 1060px;
  height: 1067px;
  margin-top: 5px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.main-title {
  top: 130px;
  left: 400px;
  width: 150px;
  height: 25px;
  text-align: left;
  font-size: 20px;
  font: FuturaFont;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}
#cont {
    padding-top: 20px;

}
.project-main-row {
  top: 130px;
  left: 400px;
  width: 741px;
  height: 74px;
  opacity: 1;
}

.sub-title {
  top: 167px;
  left: 400px;
  width: 741px;
  height: 37px;
  text-align: left;
  font: Avenir;
  letter-spacing: 0px;
  color: #4A4A4A;
  opacity: 1;
}


#sub-heading {
  top: 224px;
  left: 420px;
  width: 118px;
  height: 19px;
  text-align: left;
  font-size: 16px;
  font: Avenir;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}


#sub-heading-two {
  top: 470px;
  left: 420px;
  width: 130px;
  height: 19px;
  text-align: left;
  font-size: 16px;
  font: Avenir;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}

#sub-heading-three {
  top: 712px;
  left: 420px;
  width: 130px;
  height: 19px;
  text-align: left;
  font-size: 16px;
  font: Avenir;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}

.project-row-one {
  top: 224px;
  left: 420px;
  padding-left: 20px;
  width: 376px;
  height: 208px;
  opacity: 1;
}

.project-row-two {
  top: 470px;
  left: 420px;
  padding-left: 20px;
  margin-top: 100px;
  height: 200px;
  opacity: 1;
}

.project-row-three {
  top: 712px;
  left: 420px;
  width: 730px;
  padding-left: 20px;
  margin-top: 100px;
  height: 200px;
  opacity: 1;
}

.redirect-link {
text-align: left;
font-size: 14px;
font: Avenir;
letter-spacing: 0px;
color: #337AB7;
opacity: 1;
}

.project-sub-title {
  top: 167px;
  left: 400px;
  width: 741px;
  height: 37px;
  text-align: left;
  font-size: 14px;
  font: Avenir;
  letter-spacing: 0px;
  color: #4A4A4A;
  opacity: 1;
}

/* sidebar  */

#sidebar-section {
  width: 250px;
  height: 313px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 10px;
  opacity: 1;
}

#how-to-join {
  top: 130px;
  left: 130px;
  /* width: 90px; */
  height: 23px;
  text-align: left;
  font-size: 18px;
  font: Futura;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}

.side-menu {
  top: 208px;
  left: 150px;
  width: 154px;
  height: 19px;
  text-align: left;
  margin-left: 40px;
  font-size: 16px;
  font: Avenir;
  letter-spacing: 0px;
  color: #67669D;
  opacity: 1;
}