
@font-face {
    font-family: Avenir;
    src: url(assets/fonts/FontsFree-Net-AvenirLTStd-Book.ttf);
}
@font-face {
    font-family: FuturaFont;
    src: url(assets/fonts/FuturaFont/FuturaStd\ Heavy.otf);
}

body {
padding: 0;
margin: 0;
font-family: Avenir;
background: #F7F7F7 0% 0% no-repeat padding-box;
}
/* sidebar  */

#sidebar-section {
    /* top: 110px; */
    /* left: 110px; */
    padding-left: 0px;
    width: 250px;
    height: 313px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 10px;
    opacity: 1;
}

#how-to-join {
    /* top: 130px; */
    /* left: 130px; */
    width: 100%;
    height: 23px;
    text-align: left;
    font-size: 16px;
    font: FuturaFont;
    padding-left: 0px;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

.howtojoin {
  /* font-family: 'FontAwesome';   */
  /* content: "\f068";
  float: right;  */
}

#sidebar-section .side-menu {
    top: 208px;
    left: 150px;
    width: 154px;
    height: 19px;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    font: Avenir;
    letter-spacing: 0px;
    color: #67669D;
    opacity: 1;
}

#sidebar-section .side-title {
    font-weight: bold;
}

.project-accordion {
    background: transparent;
}

.project-accordion .fa-stack {
    font-size: 14px;
    float: right;
}

.project-accordion  .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
    padding-right: 0px;
}

.project-accordion .card,
    .myaccordion .card:last-child .card-header {
    border: none;
}
